#Tituloprincipal{
    color: dodgerblue;
    font-family: sans-serif;
}
.parrafoSecundario {
    color:grey;
    font-size: 20px;
}

/*p{
    background-color: antiquewhite;
}*/

a:link {
    
    color : chocolate;
}
a:visited {
    color: darkolivegreen;
      
    }
    a:hover{
        transition: 1s;
       background-color: black;
       color: white;
       border-radius: 25px;
        
    } 
    a:active{
        background-color: red;
        color: black;
    }
    p:nth-child(even){
        background-color: red;
    }
    p:nth-child(odd){
        background-color: greenyellow;
    }